.vscode/*
Logs/
cb_esx_iso/
Temp-*/
TEST*
VLCGui - Copy.ps1
VLCGui-Copy-5.0.zip
*.zip
*-next*
*smoke*
*copy*




VLC51-Config-File-Example crazyVLAN.ini
.vscode/launch.json
hr/HR52-0.vmdk
hr/HR52-0.vmdk.orig
hr/HR52-v.1.mf
hr/HR52-v.1.ovf
hr/HR52.mf
hr/HR52.ova
hr/HR52.ovf
hr/HR52.ovf.new
hr/HR52.vmdk
hr/webmin-2.111-1.noarch.rpm
hr/v.1/HR52.mf
hr/v.1/HR52.ova
hr/v.1/HR52.ovf
hr/v.2/HR52.mf
hr/v.2/HR52.ova
hr/v.2/HR52.ovf
hr/v.2/HR52.vmdk
conf/site1_additional_networks.json.orig
etc/vlc-extras.tar.old
TMM5.2-vcf-ems-deployment-parameter.xlsx
VLCGui.ps1.orig511
VMware-ovftool-4.6.2-22220919-lin.x86_64.bundle
templog.log
ems.json
holotestini.txt
mergeHD511.ps1
multi-import-test.ps1

